.container {
  /* max-width: 800px; */
  margin: 20px auto 0;
}
.container h1 {
  padding-left: 16px;
  margin-bottom: 12px;
}

.list {
  display: flex;
  padding: 16px;
  box-sizing: border-box;
}

.list-item {
  /* width: 100%; */
  flex: 1;
  max-width: 25%;
  margin-right: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
}

.subtitle {
  font-size: 14px;
  opacity: 0.5;
}

ul,li {
  padding: 0;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  /* max-width: 600px; */
  width: 100%;
  /* width: 50%; */
  height: 300px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 16px;
}
html[data-theme='dark'] .card {
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,1);
}

.card-content {
  min-height: 240px;
}

.card-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 64px;
  padding-left: 16px;
}
.card-footer:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0.1;
}

.card-meta {
  width: 100%;
  height: 300px;
  background: url('https://blog.banmao.studio/img/bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 750px) {
  .list {
    flex-wrap: wrap;
  }
  .list-item {
    margin-bottom: 16px;
    flex: 100%;
    max-width: 100%;
    margin-right: unset;
  }
  .card {
    width: 100%;
  }
}