.time-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.time-title {
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.time-label {
  font-size: 100px;
}

.time {
  font-size: 200px;
}
