.time-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  flex: 1;
  background-color: #fff;
  color: #666;
  font-size: 16px;
  transition: all 0.3s ease-out;
}

html[data-theme='dark'] .time-wrap {
  background-color: #18191a;
  color: #f5f6f7;
}

.menubar {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 18px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.menubar .button {
  background: transparent;
  border: none;
  color: #25c2a0;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.menubar .button:hover {
  color: #25c2a088;
}

.time-title {
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 3px;
  transition: font-size 0.3s ease-out;
}

.time-label {
  font-size: 6em;
  transition: font-size 0.3s ease-out;
}

.time {
  font-size: 12em;
  transition: font-size 0.3s ease-out;
}


@media screen and (max-width: 1600px) {
  .time-wrap {
    font-size: 8px;
  }
}

@media screen and (max-width: 750px) {
  .time-wrap {
    font-size: 5px;
  }
}